@import 'utilities/variables';
@import 'base/typography';

.card {
  &__title {
    color: $black;
    font-weight: $font-weight-regular;
    font-size: 1em;
    &:hover {
      cursor: pointer;
    }
  }
  &__subtitle {
    color: $subtitle;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    a {
      line-height: 1.2em;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
