  @import 'utilities/variables';

  *,
  *:after,
  *:before {
      margin: 0;
      padding: 0;
      border: 0;
      font-family: inherit;
      font-size: inherit;
      vertical-align: baseline;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      }

  html, body {
      font: 14px $font-stack;
      height: 100%;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  table {
     border-collapse: collapse;
     border-spacing: 0;
  }
