// External imports
@import '../../node_modules/rfs/scss/rfs';

// Base imports

@import 'base/reset';
@import 'base/typography';


// Components imports

@import 'components/buttons';

// Layout imports

@import 'layout/grid';
@import 'layout/header';

//Utilities imports

@import 'utilities/functions';
@import 'utilities/mixins';
@import 'utilities/variables';



// Basic styling
.wrapper {
  background: $white;
}

.title {
  @include responsive-font-size(4rem);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $red;
  height: $header__height--mobile;
  padding: 0 1em;
  margin: 0 auto;
  z-index: 1;
  @include forLargeScreens('700px') {
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
    height: $header__height--desktop;
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 70em;
  }
}

.hide {
  display: none !important;
}

.link {
  cursor: pointer;
}

.video {
    height: 50vh;
}