@import 'utilities/variables';
@import 'utilities/mixins';

.filters {
  border-bottom: 1px solid $border-light-grey;
  @include forLargeScreens('700px') {
    margin: 0 1em;
  }
  &__summary {
    display: flex;
    justify-content: space-between;
    min-height: 4em;
    align-items: center;
    button {
      @include btn-generator($dark_grey, none);
      text-transform: uppercase;
      i {
      vertical-align: middle;
      margin-right: 0.5em;
      }
    }
  }
}
  .summary__count {
    color: $dark_grey;
  }

 .filter {
  &__title {
    color: $black;
    text-transform: uppercase;
    padding: 1em 0;
    border-bottom: 1px solid $border-light-grey;
  }
  &__body {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__picker {
    background-color: $button__background;
    margin-right: 0.8em;
    border: 1px solid #cccccc;
    height: 3em;
    width: 100%;
    padding: 0 1em;
  }
 }



// .radio {
//     input {
//     position: absolute;
//     opacity: 0;
//     // width: 100%;
//     // height: 100%;
//     &:checked {
//       +.radio-label {
//         color: $black;
//         font-weight: $font-weight-bold;
//         input {
//           display: block;
//         }
//       }
//     }
//   }
// }
//   .radio-label {
//   width: 100%;
//   position: relative;
//   margin: 1em 0;
//   display: flex;
//   color: $subtitle;
//   font-weight: $font-weight-regular;
//   justify-content: space-between;
//   justify-items: center;
//   flex: 1;
//   &:hover {
//     cursor: pointer;
//   }
//   button {
//     @include btn-generator($black, none);
//     display: none;
//     i {
//       font-size: 1em;
//     }
//   }
// }

$color1: #f4f4f4;
$color2: #3197EE;


.radio {
  margin: 0.5rem;
  input{
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:after {
        content: '';
        background: $color1;
        border-radius: 100%;
        border: 1px solid darken($color1, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        color: $black;
        font-weight: $font-weight-bold;
        &:after {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:after {
          outline: none;
          border-color: $color2;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:after {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:after {
          margin-right: 0;
        }
      }
    }
  }
}
