@import url('https://fonts.googleapis.com/css?family=Roboto');

// grid variables

$grid__gutter: 10px;
$grid__columns: 12;
$header__height--desktop: 60px;
$header__height--mobile: 48px;

// colors

$red: #e62117;
$black: #0a0a0a;
$white: #ffffff;
$dark-grey: #6e6e6e;
$border-grey: #cccccc;
$border-light-grey: #ececec;

$button__background: #f8f8f8;
$button__background--hover: #f0f0f0;
$button__color: #828282;
$button__color--hover: $black;

$subtitle: #9d9d9d;

// Fonts

$font-stack: Roboto, Arial, sans-serif;
