@import url('https://fonts.googleapis.com/css?family=Roboto');

// grid variables

$grid__gutter: 10px;
$grid__columns: 12;
$header__height--desktop: 60px;
$header__height--mobile: 48px;

// colors

$red: #e62117;
$black: hsl(0, 0%, 4%);
$white: #ffffff;
$border-grey: #cccccc;

$button__background: #f8f8f8;
$button__background--hover: #f0f0f0;
$button__color: #828282;
$button__color--hover: $black;

$video__subtitle: #9d9d9d;

// Fonts

$font-stack: Roboto, Arial, sans-serif;
