<div class="header">
  <picture class="header__logo">
    <source media="(min-width: 700px)" srcset="assets/images/logo.svg">
    <img src="assets/images/mobile-logo.svg" />
  </picture>
  <div class="header__search">
    <input *ngIf="searching; else title" class="search__input" (input)="onUpdateSearchTerm($event)" />
    <button class="button search__button" (click)="onSearchClick()">
      <i class="material-icons">search</i>
    </button>
  </div>
</div>

<ng-template #title>
  <h1 class="search__title">Title</h1>
</ng-template>
