<div class="header">
    <picture class="header__logo" (click) = "this.router.navigate(['search'])" >
      <source media="(min-width: 700px)" srcset="assets/images/logo.svg">
      <img src="assets/images/mobile-logo.svg" />
    </picture>
  <form class="header__search" (submit)="performSearch(searchInputValue)">
    <input *ngIf="searching; else title" class="search__input" #searchInputValue />
    <button class="button search__button" (click)="onSearchClick($event)">
      <i class="material-icons">search</i>
    </button>
  </form>
</div>

<ng-template #title>
  <h1 class="search__title">{{dynamicTitle}}</h1>
</ng-template>
