<div>
  <app-filters *ngIf="type =='search'" [resetFilters]="reset" [resultsCount] = "items?.pageInfo.totalResults" >
  </app-filters>
  <ul *ngIf="deviceService.getScreenSize() === 'desktop' ; else mobile" class="col-12" infiniteScroll [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="2000" (scrolled)="onLoadMore()">
    <li *ngFor="let item of items?.items">
      <app-item-card [item]="item"></app-item-card>
    </li>
  </ul>

  <ng-template #mobile>
    <ul class="col-12">
      <li *ngFor="let item of items?.items">
        <app-item-card [item]="item"></app-item-card>
      </li>
    </ul>
    <app-load-more *ngIf="type == 'videos'" (loadMoreResults)="onLoadMore()">
    </app-load-more>
  </ng-template>
</div>


<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
