@import 'utilities/mixins';
@import 'utilities/variables';

.wrapper {
    @include clearfix();
    max-width: 70em;
    margin: 0 auto;
    @include forLargeScreens('700px') {
      margin-top: $header__height--desktop;
    }
}

.row {
    @include clearfix();
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

@include all-grid-columns-generator();
@include create-grid-columns('col');
// [class*='column-'] {
//     float: left;
//     padding: 1em;
//     width: 100%;
//     min-height: 1px;
// }
