<div class="filter" *ngIf="this.deviceService.device === 'mobile'; else desktop">
  <select [name]="filter.name | camelCase"
          class="filter__picker"
          #filterInputValue
          (change)="onFilterChange($event)">
    <option *ngFor="let option of filter.options"
            [value]="option | camelCase">{{option}}</option>
  </select>
</div>

<ng-template #desktop>
  <h3 class="filter__title">{{filter.name}}</h3>
  <div *ngFor="let option of filter.options; let i = index"
        class="filter__body radio row">
    <input type="radio"
           [name]="filter.name | camelCase"
           [value]="option | camelCase"
           id={{option}}
           #filterInputValue
           (input)="onFilterChange($event)"
           [checked]="option == 'relevance'"
    />
    <label for={{option}} class="radio-label col-6">
      {{option}}
      <button type="button"
              [class.hide]="removed == filter.name || filter.name == 'sort by'"
              class="radio-button"
              (click)="onFilterRemove(filter.name)">
        <i class="material-icons">close</i>
      </button>
    </label>
  </div>
</ng-template>
